<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>404 VOID MAIN</title>
    <link href='http://fonts.googleapis.com/css?family=Abel|Play:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/normalize.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/responsive.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="javascripts/snap.svg-min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
    <script src="javascripts/svgFile.js"></script>
    <script src="javascripts/jqFile.js"></script>
  </head>
  <body>

    <nav>
      <ul>
        <li>
          <a href="http://voidmain.bigcartel.com/" target="_top">SHOP</a>
        </li>
        <li>
          <a href="https://twitter.com/404voidmain" target="_top">TWITTER</a>
        </li>
        <li>
          <a href="mailto:voidmain404@gmail.com" target="_top">EMAIL</a>
        </li>
      </ul>
    </nav>

    <div id="container">



      <svg id="svg" width="100%" height="500px" viewBox="0 0 800 1000" preserveAspectRatio="xMidYMin meet "></svg>

<!--       <iframe src="//player.vimeo.com/video/101738328?title=0&amp;byline=0&amp;portrait=0&amp;loop=1" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->

      <div id="text">
        <span id="title">VOID MAIN</span>
        <br />
        <span id="comingsoon">(COMING SOON)</span>
      </div>

    </div>

    <div id="background"></div>

    <div class="play">
      <a href="https://vimeo.com/101738328" target="_top">404</a>
    </div>


  </body>
</html>