<!DOCTYPE html>
<html>
  <head>
    <title>404 VOID MAIN</title>
    <link href='http://fonts.googleapis.com/css?family=Abel|Play:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    <script src="javascripts/snap.svg-min.js"></script>
    <script src="javascripts/svgFile.js"></script>
  </head>
  <body>
    <div id="container">

      <svg id="svg" width="100%" height="500px" viewBox="0 0 800 1000" preserveAspectRatio="xMidYMin meet ">

      </svg>

      <div id="text">
        <span id="title">404 VOID MAIN</span>
        <br />
        <span id="comingsoon">(COMING SOON)</span>
      </div>

    </div>
  </body>
</html>