
a, a:visited, a:active {
  text-decoration: none;
  color: #0000ff;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: #eee;
  font-family: 'Press Start 2P','Play', sans-serif;
  /*font-weight: 700;*/
  font-style: italic;
  color: #000;
  font-size: 50px;
  text-align: center;

}

h1 {
  font-size: 3.5em;
  font-weight: 300;
  margin: 0 0 0 0;
}

h2 {
  font-size: 2.5em;
  font-weight: 800;
  margin: 0 0 0 0;
}

#container {
  max-width: 600px;
  margin: 0 auto;
  z-index: 5;
  /*background-color: #fff;*/
  /*height: 100%;*/
}

#container > img {
  width: 100%;
  margin: 50px 0 50px 0;

}

#svg {
  width: 100%;
  height: 800px;
}

#text {
  margin-top: -190px;
}

#title {
  font-size: 40px;
}

#comingsoon {
  font-size: 15px;
}

#background {
  position:fixed;
  left:0;top:0;right:0;bottom:0;
  overflow: visible;
  z-index:-1;
  background-color: #000;
  display: none;
  text-align: center;
  background-image:url('../images/404background.png');
  background-repeat: repeat;
}





/*@-webkit-keyframes pulse {
  from {

    color: #fff;
  }
  to {

    color: #000;
  }
}*/




.four04 {
  padding: 30px;
  font-size: 30px;
  text-align: center;
  float: left;
  background-color: #000;
  color: #fff;
/*  -webkit-animation-name: pulse;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
  -webkit-animation-direction: alternate;
  -webkit-animation-duration: 0s;*/
}




.four04vm {
  font-size: 10px;
}

.black {
  background-color: #000;
  color: #fff;
}

.white {
  background-color: #fff;
  color: #000;
}

.email {
  position:fixed;
  top: 200px;
  left: 50%;
  margin-left: -260px;
  padding: 30px;
  font-size: 65px;
  text-align: center;

  color: #fff;
  z-index: 10;
  display: none;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: #fff;
}

a:hover {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  color: #000;
}


nav {
  top: 0;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  font-size: 20px;

  /*background-color: blue;*/
}

nav ul {
  list-style:none;
  width: 100%;
  /*background-color: green;*/
}

nav ul li {
  display:inline;
  margin: 0 10px;
  /*background-color: red;*/
}

nav ul li a {
  display: inline-block;
}


img {
  image-rendering: optimizeSpeed;             /* FUCK SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

